<p id="notice"><%= notice %></p>

<p>
  <strong>Grants:</strong>
  <%= @deliverable.grants_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @deliverable.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @deliverable.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @deliverable.start %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @deliverable.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= @deliverable.status %>
</p>

<%= link_to 'Edit', edit_deliverable_path(@deliverable) %> |
<%= link_to 'Back', deliverables_path %>
