<p id="notice"><%= notice %></p>

<p>
  <strong>Student subcat:</strong>
  <%= @studentship.student_subcat_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @studentship.code %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @studentship.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @studentship.enddate %>
</p>

<p>
  <strong>Fire:</strong>
  <%= @studentship.fire %>
</p>

<p>
  <strong>Screenttest:</strong>
  <%= @studentship.screenttest %>
</p>

<p>
  <strong>Training:</strong>
  <%= @studentship.training %>
</p>

<p>
  <strong>Firestatus:</strong>
  <%= @studentship.firestatus %>
</p>

<p>
  <strong>Screenstatus:</strong>
  <%= @studentship.screenstatus %>
</p>

<p>
  <strong>Trainstatus:</strong>
  <%= @studentship.trainstatus %>
</p>

<p>
  <strong>M12:</strong>
  <%= @studentship.m12 %>
</p>

<p>
  <strong>M12date:</strong>
  <%= @studentship.m12date %>
</p>

<p>
  <strong>M24:</strong>
  <%= @studentship.m24 %>
</p>

<p>
  <strong>M24date:</strong>
  <%= @studentship.m24date %>
</p>

<p>
  <strong>M36:</strong>
  <%= @studentship.m36 %>
</p>

<p>
  <strong>M36date:</strong>
  <%= @studentship.m36date %>
</p>
<p>
  <strong>Fire Date:</strong>
  <%= @studentship.fdate %>
</p>

<p>
  <strong>Screen Date:</strong>
  <%= @studentship.sdate %>
</p>
<p>
  <strong>Training Date:</strong>
  <%= @studentship.tdate %>
</p>
<p>
  <strong>Complete:</strong>
  <%= @studentship.complete %>
</p>

<%= link_to 'Edit', edit_studentship_path(@studentship) %> |
<%= link_to 'Back', studentships_path %>
