<h1>Listing project_allocations</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_allocations.each do |project_allocation| %>
      <tr>
        <td><%= project_allocation.project_id %></td>
        <td><%= project_allocation.user_id %></td>
        <td><%= link_to 'Show', project_allocation %></td>
        <td><%= link_to 'Edit', edit_project_allocation_path(project_allocation) %></td>
        <td><%= link_to 'Destroy', project_allocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project allocation', new_project_allocation_path %>
