<h1>Listing ships_subs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ships_subs.each do |ships_sub| %>
      <tr>
        <td><%= ships_sub.name %></td>
        <td><%= link_to 'Show', ships_sub %></td>
        <td><%= link_to 'Edit', edit_ships_sub_path(ships_sub) %></td>
        <td><%= link_to 'Destroy', ships_sub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ships sub', new_ships_sub_path %>
