<h1>Comments</h1>
<div class = "postblock">

<% @project_comments.each do |project_comment| %>
    <% if @project_id.id == project_comment.project_id%>

    <div class= "post">
      <div class="post-header">
          
        <span class="name" title="Title of the post"><%=project_comment.name%>              
      </div>
      <div class="postdate">
         <span class="date" title="Date posted"> Posted:<%= project_comment.created_at %>
      </div>
      <div class="float-right">
        <span class="Name" title="Posted  by"><%= @users.find(project_comment.user_id).name%>
      </div>
            
      
      <div class="post-message">
        <span class="post" title="Post"><%= project_comment.comment %>
      </div>
    </div>
    <hr class="subtle-divider">
<%end%> 
<% end %>

</div>

<%= render 'commentform' %>


<%= link_to 'New Project comment', new_project_comment_path(:project_id=>@project_id.id) %>
