<%=stylesheet_link_tag("hideshow") %>
<div class = note>
<p id="notice"><%= notice %></p>
</div>

<h1>Tasks</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Status</th>
      <th>Chnage Status</th>
      <th>Archive?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
   
    <% if @project_id.id == task.project_id%>
       <%if task.archive == false%> 

 <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.startdate %></td>
        <td><%= task.enddate %></td>
        <td><%= task.status %></td>



<td>

<label></label> <input class="form-checkbox" id="<%=task.id%>" type="checkbox">
<div class="<%=task.id%>">
<%= form_for (Task.find(task.id))  do |f| %>

<%=  f.select(:status , options_for_select([['Allocated',1],['Complete',2]])) %>
</td>
</div>
<td>
<%= f.check_box :archive%>
</td>
<td>
<%= f.submit %>
</td>
<%end%>

</div>



        <td><%= link_to 'Sub Tasks', sub_tasks_path(:id =>task.id) %>
 </td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
   <% end %>
  <%end %>
  </tbody>
</table>

<br>
<%= link_to 'New Task', new_task_path(:project_id => Project.find( @project_id.id)) %>

	<%= render 'showcomments' %>
        
        <%= render 'commentform' %>

