<h1>Listing funders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @funders.each do |funder| %>
      <tr>
        <td><%= funder.name %></td>
        <td><%= funder.types.name %></td>
        <td><%= funder.phone %></td>
        <td><%= funder.email %></td>
        <td><%= link_to 'Show', funder %></td>
        <td><%= link_to 'Edit', edit_funder_path(funder) %></td>
        <td><%= link_to 'Destroy', funder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funder', new_funder_path %>
