<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @funder.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @funder.type_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @funder.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @funder.email %>
</p>

<%= link_to 'Edit', edit_funder_path(@funder) %> |
<%= link_to 'Back', funders_path %>
