<%= form_for(@sub_task) do |f| %>
  <% if @sub_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_task.errors.count, "error") %> prohibited this sub_task from being saved:</h2>

      <ul>
      <% @sub_task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :task_id, :value =>  params[:task_id]%>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br>
    <%= f.date_select :enddate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
