<h1>Comments</h1>
<div class = "postblock"
<% @project_comments.each do |project_comment| %>
    <div class= "post">
      <div class="post-header">
          
        <span class="name" title="Title of the post"><%=project_comment.name%>              
      </div>
      <div class="postdate">
         <span class="date" title="Date posted"> Posted:<%= project_comment.created_at %>
      </div>
      <div class="float-right">
        <span class="Name" title="Date this contribution was posted">Name :<%= @users.find(project_comment.user_id).name%>
      </div>
            
      
      <div class="post-message">
        <span class="post" title="Post"><%= project_comment.comment %>
      </div>
    </div>
    <hr class="subtle-divider">
 
<% end %>

</div>




<%= link_to 'New Task comment', new_task_comment_path %>
