<h1>Sub Task </h1>
<%#= debug @grants %>

<%= form_tag update_individual_sub_tasks_path, :method => :put do %>


 <% for grant in @grants %>

     <%=fields_for "gramts[]",grant do |f|%>

    <h2> <%= grant.name%></h2>
 <%= render "field", :f => f %>

     <hr class="subtle-divider">
     <%end%>

   <%end%>
<p><%= submit_tag "Submit" %></p>
<%end%>


