<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sub_task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sub_task.description %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @sub_task.enddate %>
</p>

<%= link_to 'Edit', edit_sub_task_path(@sub_task) %> |
<%= link_to 'Back', sub_tasks_path %>
