<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @add_user.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @add_user.password %>
</p>

<p>
  <strong>Level:</strong>
  <%= @add_user.level %>
</p>

<p>
  <strong>Email:</strong>
  <%= @add_user.email %>
</p>

<%= link_to 'Edit', edit_add_user_path(@add_user) %> |
<%= link_to 'Back', add_users_path %>
