<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task_comment.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @task_comment.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @task_comment.user_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @task_comment.task_id %>
</p>
<%=debug @task_comment %>
<%= link_to 'Edit', edit_task_comment_path(@task_comment) %> |
<%= link_to 'Back', task_comments_path %>
