<h1>Listing grant_allocations</h1>

<table>
  <thead>
    <tr>
      <th>Grant</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grant_allocations.each do |grant_allocation| %>
      <tr>
        <td><%= grant_allocation.grant %></td>
        <td><%= grant_allocation.user %></td>
        <td><%= link_to 'Show', grant_allocation %></td>
        <td><%= link_to 'Edit', edit_grant_allocation_path(grant_allocation) %></td>
        <td><%= link_to 'Destroy', grant_allocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grant allocation', new_grant_allocation_path %>
