
  <div class="field">
  <%= f.select :name, @cat_options%>
  </div>
  <div class="field">
    sub-cats<br>
    <%= f.select :grantsub_id, @options_sub%>
    <%= link_to 'New usb', new_grantsub_path %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_field :start %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>
  <div class="field">
    Funder<br>
    <%= f.select :funder_id, @options%>
    <%= link_to 'New funder', new_funder_path %>
  </div>
  <div class="field">
    Grant code<br>
    <%= f.number_field :code %>
  </div>

