<link rel="stylesheet" type="text/css" media="all" href="assets/stylesheets/hideshow.css">

<%= form_tag edit_multiple_projects_path do |f| %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Start</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Funder</th>
      <th>Awarded To</th>
      <th>Grant Code</th>
      <th>Final Report</th>
      <th>Change Status </th>
    </tr>
  </thead>

  <tbody>
   
      
    <% @grants.each do |grant| %>
<%=fields_for grant do |g|%>

    <%if grant.archive ==false%>  
      <tr>
        <td><%= check_box_tag "grant_ids[]",grant.id%> </td>
        <td><%= grant.name %></td>
        <td><%= grant.start %></td>
        <td><%= grant.deadline %></td>
        <td><%= grant.status  %></td>
	<td><%= grant.funder_id %></td>
        <td><%= grant.code %></td>        
        <td><%= grant.awarded_to %></td>
	<td><%= grant.finalreport %></td>	
        <td><%= link_to 'Change Status', status_projects_path(:id => grant.id),:method => :post%></td>
        <td><%= link_to 'List Tasks', tasks_path(:project_id => Project.find_by_grant_id(grant)) %> </td>
        <td><%= link_to 'Destroy', grant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end%> 
       <%end%>
    <%end%>
  
  </tbody>
</table>

<br>

    <%=submit_tag "Edit Checked", :name=> 'individual'%>
    <%=submit_tag "Change Checked to", :name =>'multiple'%>

    <% end %>
<%= link_to 'New Grant', new_grant_path %>
