<h1>Listing shipssubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shipssubs.each do |shipssub| %>
      <tr>
        <td><%= shipssub.name %></td>
        <td><%= link_to 'Show', shipssub %></td>
        <td><%= link_to 'Edit', edit_shipssub_path(shipssub) %></td>
        <td><%= link_to 'Destroy', shipssub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipssub', new_shipssub_path %>
