<h1>Listing projectcats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projectcats.each do |projectcat| %>
      <tr>
        <td><%= projectcat.name %></td>
        <td><%= link_to 'Show', projectcat %></td>
        <td><%= link_to 'Edit', edit_projectcat_path(projectcat) %></td>
        <td><%= link_to 'Destroy', projectcat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projectcat', new_projectcat_path %>
