<%= form_for(@student_subcat) do |f| %>
  <% if @student_subcat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_subcat.errors.count, "error") %> prohibited this student_subcat from being saved:</h2>

      <ul>
      <% @student_subcat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
