<%= form_for(@grant) do |f| %>
  <% if @grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grant.errors.count, "error") %> prohibited this grant from being saved:</h2>

      <ul>
      <% @grant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>
  <div class="field">
    Funder<br>
    <%= f.select :funder_id, @options%>
    <%= link_to 'New funder', new_funder_path %>
  </div>
  <div class="field">
    Grant code<br>
    <%= f.number_field :code %>
  </div>

  <div class="field">
    <%= f.label :awarded_to %><br>
    <%= f.text_field :awarded_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
