<%= form_for(@grant) do |f| %>
  <% if @grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grant.errors.count, "error") %> prohibited this grant from being saved:</h2>

      <ul>
      <% @grant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  
  </div>
  <div class="field">
    sub-cats<br>
    <%= f.select :grantsub_id, @options_sub%>
    <%= link_to 'New usb', new_grantsub_path %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_field :start %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline %>
  </div>
  <div class="field">
    Funder<br>
    <%= f.select :funder_id, @options%>
    <%= link_to 'New funder', new_funder_path %>
  </div>
  <div class="field">
    Grant code<br>
    <%= f.number_field :code %>
  </div>

  <div class="field">
    <%= f.label :awarded_to %><br>
    <%= f.text_field :awarded_to %>
  </div>

<input type="checkbox" name="c1" onclick="showMe('report')">Set Final Report Date
<script src="assets/javascripts/forms.js"></script>

  <div class="field" id = 'report'>
    <%= f.label :finalreport %><br>
    <%= f.date_select :finalreport %>
  </div>



  </div>
  <div class="actions">
    <%= f.submit "Create Grant" %>
  </div>

<% end %>
