	<h1>Listing project_comments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>User</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_comments.each do |project_comment| %>
      <tr>
        <td><%= project_comment.name %></td>
        <td><%= project_comment.comment %></td>
        <td><%= project_comment.user_id %></td>
        <td><%= project_comment.project_id %></td>
        <td><%= link_to 'Show', project_comment %></td>
        <td><%= link_to 'Edit', edit_project_comment_path(project_comment) %></td>
        <td><%= link_to 'Destroy', project_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Project comment', new_project_comment_path(:project_id => Project.find_by_grant_id(grant)) %>
