<p id="notice"><%= notice %></p>
<%= debug @id%>
<p>
  <strong>Name:</strong>
  <%= @project_comment.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @project_comment.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @project_comment.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_comment.project_id %>
</p>

<%= link_to 'Edit', edit_project_comment_path(@project_comment) %> |
<%= link_to 'Back', task_path(:project_id => @project_) %>
