<h1>Listing grantsubs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grantsubs.each do |grantsub| %>
      <tr>
        <td><%= grantsub.name %></td>
        <td><%= link_to 'Show', grantsub %></td>
        <td><%= link_to 'Edit', edit_grantsub_path(grantsub) %></td>
        <td><%= link_to 'Destroy', grantsub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grantsub', new_grantsub_path %>
